<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title> Students Database By Harry Volker</title>
        
    </head>
    <body style="background-color:aqua";>
      <h1 style="color: blue; text-align: center;">Students database by Harry Volker</h1>

<hr><hr>
<span style="color:green">
    <marquee width="100%" direction="left" height="50px">
    <h2> &#128151;&#128151;&#128151;&#128151; </h2></marquee></span>
    <hr><hr>
{% for data in data1 %}

{{ data.first_name }} {{ data.last_name }}, {{ data.email }}
<br>

{% endfor %}
</body>
</html>